* {
    margin: 0;  
    padding: 0;
}

/* CORES DA PALETA NESSE SITE https://www.w3schools.com/colors/colors_picker.asp  
usar essa cor de base: (#3B4F67 ***COR AZUL***) (#6b9369 ***COR VERDE***)*/

/* TÍTULO PRINCIPAL */
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vh;
    font-family: 'Heebo', sans-serif;
    color: #253241;
    padding: 30px;
    background-color: #becbda;
    
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
    color: white;
    
}

/* SECTION DO TÍTULO DO TEXTO DE INTRODUÇÃO */
.section-um {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 24px;
    position: relative;
    padding: 0px;
    background-color: #3B4F67;
}

/* CLASSE DO PARÁGRAFO DE APRESENTAÇÃO */
.grid-da-section-um {
    background-color: #3B4F67;
    display: flex;
    padding: 0px 0px 0px 80px;
    margin-top: 0px;    
    justify-content: center;
    /* width: 100%; */
    align-items: center;
}

nav {
    background-color:#eff2f6;
    padding: 12px;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* HOVER E ACTIVE DOS BOTÕES LOGIN E CADASTRO */
.icone-e-texto:hover {
    background-color: #ced8e3
}

button:hover {
    background-color: #ced8e3
}

button:active {
    background-color: #aebed0;
}

/* CLASSE DO MENU NAVEGAÇÃO */
.botoes-de-nav {
    display: flex;
    justify-content:center;
    gap: 50px;
}

main {
    display: grid;
    padding: 50px;
    height: 100vh;
    
}

/* TÍTULO DO TEXTO  */
h2 {
    display: flex;
    padding: 10px;
    justify-content: center;
    
}

/* CLASSE DA IMAGEM DESNECESSÁRIA DE ESPAÇO NO MEIO DO SITE (APENAS PARA TESTE) */
.card-imagem {
    display: flex;
    padding: 5em 0;
    align-items: center;
    justify-content: center;

}

/* FORMULÁRIO DO LOGIN E CADASTRO */
table {
    display: flex;
    padding: 50px;
    height: 70vh;
    align-items: center;
}

tr {
    height: 4vh;
    
}

.botao-cadastrar {
    display: flex;  
    padding: 30px;
}

/* UM CONTAINER GUARDANDO AS DIVS E O FOOTER, NÃO PRECISA TIRAR DO LUGAR  */

/* .container-principal {
    display: flex;
    flex-direction: column;

} */

/* O FOOTER TÁ NO LUGAR CERTO JÁ, SÓ  MEXER PARA COLOCAR OS LINKS DAS REDES SOCIAIS */


footer {
    display: flex;
    min-height: 7vh;
    align-items: center;    
    justify-content: space-between;
    background-color: #3B4F67;
    grid-column: 1/-1;
    padding: 10px;
    
}


/* configurações para o section */

#sessao-servicos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    box-sizing: border-box;
    width: 100%;
    max-width: 1224px;
    height: 70vh;    
}

#sessao-servicos > h3 {
    padding: 12px 0 12px 0;
}

.texto-h1-da-sessao{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    background: initial;
    grid-column: 1/4;
}

.caixa-1 {
    
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    background: initial;
}

.caixa-2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    background: initial;
}

.caixa-3{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    justify-content: center;
    align-items: center;
    background: initial;
}



#envelopagem-da-sessao-servicos{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background: rgb(255, 255, 255);
}

.caixa-1-1{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    color: #4c684a;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.caixa-1-2{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    color: #4c684a;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.caixa-1-3{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    color: #4c684a;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

/* SECTION TRÊS */

.section-tres{
    display: flex;
    flex-direction: column;
}

.grid-da-section-tres {
    display: flex;
    /* flex-direction: column; */
    padding: 0px 0px 0px 90px ;
    margin: auto;    
    align-self: center;
}

.image-serviços {
    display: flex;
    /* flex-direction: column; */
    padding: 0px 0px 0px 0px;
    align-items: center;
    justify-items:center;
    width: 50%;
    margin: auto;
}


/* Pedir Reembolso */


.chamada-reembolso{
    font-family: 'Heebo' sans-serif;
}
.section-reembolso{
    display: flex;
    flex-direction: column;
    /* position: relative; */
    gap: 15px;
    padding: 15px;
    height: 100vh;
    color:#4c684a ;        
    
}

.div-opcoes{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.opcoes{
    background-color:#becbda ;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    font-size: 25px;
}

.reembolso{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vh;
    font-size: 18px;
    margin:auto;
    
}

p {
    font-family: 'Roboto', sans-serif;
}

/* configurações da aba serviços */

#container-planos-e-seguros > img {
    width: auto;
    height: 35px;
}

#container-planos-e-seguros{
    display: grid;
    margin: auto;    
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    box-sizing: border-box;
    
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* celulares */
    }
    @media screen and (min-device-width : 481px) and (max-device-width : 800px) {
    /* tablets */
    }
    @media screen and (min-device-width : 1200px) {
    /* computadores */
    }